body{
    background-image: url(fond.jpg);
    background-repeat:no-repeat;
    background-position:  center;
    background-attachment:    fixed;
    background-size:  cover;
  }


p{

  border: 2px solid white;
  background: white;
  font-family: Courier New;
  color: #b82404;
  font-size: 20px;
  font-weight: bold;
}

h1 {
  	 font-size:50px;
  	 color: #E8792D;
     font-family: Courier New;
     position: absolute;
     top: 0%;
     left: 40%;


   }


h2 {
  font-size: 35px;
  font-family: Courier New;

}

h3{
    font-family: Courier New;
    font-size: 30px;

}
  input{
          opacity: 0;
          width: 200px;
          height: 50px;
          border:none;
          background:#fdea91;
          color:#5A5A5A;
          font-weight:bold;
          font-size:30px;
          border-radius:4px;
         	padding:4px 4px;

          font-family: Courier New;

          animation: Commencer 5s;
          animation-delay: 30s;
          animation-fill-mode: forwards;
        }
input:hover{
   background: #ded08c;
}



@keyframes Commencer {
  0% {opacity: 0; }
  100% {opacity: 1; }

}

img{
  opacity:0;
  animation: SuS 5s;
  animation-delay: 30s;
  animation-fill-mode: forwards;
}
@keyframes SuS {
  0% {opacity: 0; }
  100% {opacity: 100; }

}
      a {
        text-decoration: none;
        }



.text_1{

  opacity: 0;
  animation: text_1 5s;
  animation-delay: 5s;
}
@keyframes text_1 {
  0% { opacity: 0; }
  99% { opacity: 1;}
  100% { opacity: 0; }
}
.text_2{

  opacity: 0;
  animation: text_2 5s;
  animation-delay: 10s;
}
@keyframes text_2 {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

.text_3{

  opacity: 0;
  animation: text_3 5s;
  animation-delay: 15s;
}
@keyframes text_3 {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

.text_4{

  opacity: 0;
  animation: text_4 5s;
  animation-delay: 20s;
}


@keyframes text_4 {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

.text_5{

  opacity: 0;
  animation: text_5 5s;
  animation-delay: 25s;
}
@keyframes text_5 {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

h2  {
 opacity: 0;
 animation: date 5s ;
 animation-delay: 1s;
 animation-fill-mode: forwards;
}
@keyframes date{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

h3 {
  opacity: 0;
  animation: heure 5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes heure {
  0% { opacity: 0; }
  100% { opacity: 1;}
}
