body{
    background-image: url(fond.jpg);
    background-repeat: no-repeat;
    background-position:  center;
    background-attachment:    fixed;
    background-size:  cover;
  }

a {
    text-decoration: none;
    }



p{
  text-align: center;
  border: 1px solid #E8792D;
  background: #998783;
  font-family: Courier New;
  color:  #b82404;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px 10px 10px 10px;
}

h1 {
  	 font-size:50px;
  	 color: #E8792D;
     font-family: Courier New;
     position: absolute;
     top: 0%;
     left: 40%;
   }


h2 {
  font-size: 35px;
  font-family: Courier New;
  position: absolute;
  top: 10%;
  left: 20%;
}

h3{
    font-family: Courier New;
    font-size: 30px;
    position: absolute;
    top: 15%;
    left: 25%;
}

  input{
          opacity: 0;
          width: 200px;
          height: 50px;
          border:none;
          background:#fdea91;
          color:#5A5A5A;
          font-weight:bold;
          font-size:30px;
          border-radius:4px;
         	padding:4px 4px;
          font-family: Courier New;
          animation: Commencer 5s;
          animation-delay: 34s;
          animation-fill-mode: forwards;
          position: absolute;
          top: 45%;
          left: 22%;
}

input:hover{
   background: #ded08c;
}


@keyframes Commencer {
  0% {opacity: 0; }
  100% {opacity: 1; }

}

img{
  opacity:0;
  animation: SuS 5s;
  animation-delay: 34s;
  animation-fill-mode: forwards;
  position: absolute;
  top: 35%;
  left: 48%;
}

@keyframes SuS {
  0% {opacity: 0; }
  100% {opacity: 100; }
}



.text_1{
  opacity: 0;
  animation: text_1 5s;
  animation-delay: 5s;
  position: absolute;
  top: 30%;
  left: 15%;
}


@keyframes text_1 {
  0% { opacity: 0; }
  99% { opacity: 1;}
  100% { opacity: 0; }
}


.text_2{
  opacity: 0;
  animation: text_2 5s;
  animation-delay: 10s;
  position: absolute;
  top: 30%;
  left: 18%;
}


@keyframes text_2 {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

.text_3{
  opacity: 0;
  animation: text_3 7s;
  animation-delay: 15s;
  position: absolute;
  top: 30%;
  left: 10%;
}


@keyframes text_3 {
  0% { opacity: 0; }
  100% { opacity: 1;}
}



.text_4{
  opacity: 0;
  animation: text_4 7s;
  animation-delay: 22s;
  position: absolute;
  top: 30%;
  left: 10%;
}


@keyframes text_4 {
  0% { opacity: 0; }
  100% { opacity: 1;}
}


.text_5{
  opacity: 0;
  animation: text_5 5s;
  animation-delay: 29s;
  position: absolute;
  top: 30%;
  left: 23%;
}

@keyframes text_5 {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

h2  {
 opacity: 0;
 animation: date 5s ;
 animation-delay: 1s;
 animation-fill-mode: forwards;
}
@keyframes date{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

h3 {
  opacity: 0;
  animation: heure 5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes heure {
  0% { opacity: 0; }
  100% { opacity: 1;}
}
