body{
    background-image: url(fond_regle.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-size: auto;
  }
  input{
          width: 200px;
          height: 50px;
          border:none;
          background:#fdea91;
          color:#5A5A5A;
          font-weight:bold;
          font-size:30px;
          border-radius:4px;
          padding:4px 4px;
          position: relative;
          left: -800px;
          top: 400px;
        }
        input:hover{
           background: #ded08c;
        }

h1{
  font-family: Courier New;
  color: #b82404;
  font-size: 50px;
  font-weight: bold;
}
  p{
    font-family: Courier New;
    color: #b82404;
    font-size: 20px;
    font-weight: bold;
  }
